<html>
  <head>
    <title>First page</title>
  </head>
  <body>
    <div class="header">
      <i class="fa fa-angle-left"></i>
      <input type="text"/>
      <i class="fa fa-search"></i>
      <i class="fa fa-bars"></i>
    </div>
    <div class="slider-left" id="left-bar">
      <a href="#left-bar"><i class="fa fa-times"></i></a>
      <ul>
        <li>最新动态</li>
        <li>我的主页</li>
        <li>我的详情</li>
      </ul>
    </div>
    <div class="content">
      <h1 class="title">Site Title</h1>
    </div> 
    <div class="footer">
      <i class="fa fa-home"></i>
      <i class="fa fa-comments-o"></i>
      <i class="fa fa-user"></i>
    </div>
    <div class="banner">
    </div>
    <script type="text/javascript" src="main.js"></script>
  </body>
</html>