:root {
  --black: #222;
  --gray: #979797;
  --soil: #c4b1a2;
  --meat: #e0cfbb;
  --pink: #ebb3a4;
  --heavy-pink: #c89290;
  --heavy-blue: #409ccd;
  --blue: #76b9d6;
  --little-blue: #94d3e4;
  --white-blue: #cee1e5;
}