@import './base.css';
@import './Font-Awesome/css/font-awesome.css';
body, html{
  height: 100%;
}
body{
  margin: 0;
  padding: 0;
  background: var(--white-blue);
}

.header{
  font-size: 14px;
  height: 36px;
  position: absolute;
  top: 0;
  width: 100%;
  
}
.footer{
  height: 36px;
  position: absolute;
  bottom: 0;
  width: 100%;
}